@charset "UTF-8";

table.castcontent {
	height:600px;
	width: 900px;
	display: block;
	margin: auto;
	max-width: 100%;
  height: auto;
  width: auto\9;
}

#crewbox {
	background:rgba(0,0,0,.7);
	width:700px;
	max-width:100%;
	margin-right:auto;
	margin-left:auto;
	margin-bottom:100px;
}

#casttext {
	text-align:center;
	font-family: Verdana, sans-serif;
	color:#ffffff;
	letter-spacing: .3em;
	opacity:.9;
	font-size:18px;
	font-weight:600;
	line-height:150%;
}

#castname {
	text-decoration:none;
	text-align:center;
	font-family: Verdana, sans-serif;
	color:#ffffff;
	letter-spacing: .3em;
	opacity:.9;
	font-size:16px;
	font-weight:700;
	line-height:150%;
}

#castname:hover {
	opacity:.5;
}

#castbox {
	padding:0px 10px 0px 10px;
}

#castlink {
	text-decoration:none;
}

#castlink:visited {
	text-decoration:none;
}

h1 {
	text-align:center;
	font-family: Verdana, sans-serif;
	color:#ffffff;
	letter-spacing: .3em;
	opacity:.9;
	font-size:18px;
	font-weight:600;
	line-height:150%;
}

p {
	text-decoration:none;
	text-align:center;
	font-family: Verdana, sans-serif;
	color:#ffffff;
	letter-spacing: .3em;
	opacity:.9;
	font-size:16px;
	font-weight:500;
	line-height:150%;
}

#crewlink {
	text-decoration:none;
	text-align:center;
	font-family: Verdana, sans-serif;
	color:#ffffff;
	letter-spacing: .3em;
	opacity:.9;
	font-size:16px;
	font-weight:500;
	line-height:150%;
}

#crewlink:visited {
	text-decoration:none;
}

#crewlink:hover {
	opacity:.5;
}

#tablegap {
	width:70px;
}
	