/*----- HEADER -----*/

.logo {
  width: 950px;
  display: block;
  margin: 0 auto;
  margin-top:25px;
  max-width: 100%;
}

nav {
  padding: 15px 0 30px 0;
}

nav li {
  display: inline;
  margin: 0 15px 0 15px;
}

/*----- HOME -----*/

.synopsis {
  height:600px;
  width: 900px;
  margin: 0 auto 100px auto;
  max-width: 100%;
}

.synopsis_poster {
  height: 550px;
  float: left;
  margin-right: 30px;
}

/*----- TRAILER -----*/

iframe {
  height: 450px;
  width: 800px;
  display: block;
  margin: 0 auto 100px auto;
}

/*----- CAST & CREW -----*/

.cast_crew_h1 {
  margin: 10px 0 40px 0;
}

figure {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 175px;
}

.cast {
  width: 900px;
  margin: 0 auto 40px auto;
}

.cast_box {
  display: inline-block;
}

.crew {
  width:700px;
  max-width:100%;
  margin: 0 auto 100px auto;
  padding: 30px 0;
}

/*----- SCREENINGS -----*/

.screenings {
  width:800px;
  max-width:100%;
  margin: 0 auto 100px auto;
  padding: 0 10px;
}

.screening_festival {
  margin-bottom: 60px;
}

.showtimes {
  margin: 30px 0 5px 0;
}

.laurel {
  width: 500px;
  margin: 0 auto;
}

.laurel_previous {
  width:300px;
  margin: 15px 20px;
}

/*----- AWARDS -----*/

.awards {
  width:800px;
  max-width:100%;
  margin: 0 auto 100px auto;
  padding: 50px 0;
}

.winner {
  display: inline-block;
  width:300px;
  margin: 0 25px;
}

.winner_laurel {
  width:300px;
}

/*----- FOOTER -----*/

footer {
  position:fixed;
  bottom:0;
  width:100%;
  height:40px;
}

footer ul {
  margin-top: 5px;
}

footer li {
  display: inline-block;
  margin: 0 20px;
}

.social_logo {
  width: 25px;
}
