@charset "UTF-8";

html { 
  background: url("http://votivfiles.com/Sasquatch/Assets/sasquatch_bg_1.jpg") no-repeat center bottom fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

img.logo {
  width: 950px;
  display: block;
  margin: auto;
  margin-top:25px;
  max-width: 100%;
    height: auto;
    width: auto\9;
}

ul.top_menu {
  width: 1000px;
  margin-left:auto;
  margin-right:auto;
  list-style-type:none;
  text-align:center;
  padding-bottom: 5px;
  max-width: 100%;
    height: auto;
    width: auto\9;
}

li.nav {
  display: inline;
  margin-right: 40px;
  color:#ffffff;
  opacity:.5;
  font-family: Verdana, sans-serif;
  letter-spacing: .4em;
  font-size:14px;
  padding-top: 5px;
}

a.nav {
  text-decoration:none;
  font-family: Verdana, sans-serif;
  color:#ffffff;
  letter-spacing: .3em;
  font-size:14px;
  font-weight:900;
}

a.nav:hover {
  color: #797979;
}

.linktable {
  width: 300px;
  left:50%;
  margin-left:-150px;
  position:fixed;
  bottom:0;
  z-index:2;
}

img.bottom_logo {
  width: 25px;
  opacity: .7;
}

a.socials:hover {
  opacity: .5;
}

iframe {
  margin-left:auto;
  margin-right:auto;
  max-width: 100%;
    height: auto;
    width: auto\9;
}

#footer {
  width:100%;
  height:40px;
  position:fixed;
  bottom:0;
  background:rgba(0,0,0,1);
  z-index:1;
}