@charset "UTF-8";

p {
	max-width: 100%;
    height: auto;
    width: auto\9;
	width:800px;
	margin-bottom:40px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-family: Verdana, sans-serif;
	color:#ffffff;
	letter-spacing: .3em;
	opacity:.9;
	font-size:18px;
	font-weight:600;
	line-height:150%;
}

p.bio {
	font-weight:500;
}

#screeningtext {
	text-align: center;
	width:800px;
	max-width:100%;
	margin-right:auto;
	margin-left:auto;
	background:rgba(0,0,0,.5);
	margin-bottom:100px;
}

#crimson {
	width:300px;
	margin-right:auto;
	margin-left:auto;
	opacity:.9;
}


#nevermore {
	position: relative;
	width:300px;
	margin-right:auto;
	margin-left:auto;
	opacity:.9;
	margin-bottom: 30px;
}

#siff {
	width:300px;
	margin-right:auto;
	margin-left:auto;
	opacity:.9;
}

#calgary {
	width:300px;
	margin-right:auto;
	margin-left:auto;
	opacity:.9;
}

#montreal {
    width:300px;
    margin-right:auto;
	margin-left:auto;
	opacity:.9;
}

#xcon {
	width:300px;
	margin-right:auto;
	margin-left:auto;
	opacity:.9;
}

a#link {
	max-width: 100%;
  height: auto;
  width: auto\9;
	width:800px;
	margin-bottom:40px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-family: Verdana, sans-serif;
	color:#ffffff;
	letter-spacing: .3em;
	opacity:.9;
	font-size:18px;
	font-weight:600;
	line-height:150%;
	text-decoration:none;
}

a#link:hover {
	opacity:.5;
}

#previous {
	text-decoration: underline;
}

#horrible {
    width: 500px;
    margin-right:auto;
    margin-left:auto;
	opacity:.9;
}
