@charset "UTF-8";

iframe {
    height: 450px;
    width: 800px;
	margin-bottom:100px;
}

p {
	margin-top: 50px;
	font-family: Verdana, sans-serif;
	color:#ffffff;
	letter-spacing: .3em;
	opacity:.9;
	font-size:19px;
	font-weight:600;
}